* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: url(../assets/images/background.png) no-repeat;
    background-size: cover;
    backdrop-filter: brightness(.6);
}

header {
    padding: 25px 0;
}

.container {
    max-width: 1200px;
    width: 60%;
    margin: auto;
}

.separator {
    width: 2px;
    height: 40px;
    background-color: #fff;

    margin: 0 30px;
}

nav .riot {
    display: flex;
}

nav .container {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arcane-logo {
    display: flex;
    justify-content: center;
    padding: 60px 0 20px 0;
}

.arcane-logo img {
    max-width: 450px;
    width: 100%;
}

main .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 105px;
}

main a {
    padding: 20px 65px;
    background-color: #E3D2BC;
    border-top-left-radius: 15px;
    text-align: center;
    color: #111111;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
}

main a:hover {
    color: #636363;
}

.new-episode {
    background-color: #E3D2BC;
    padding: 25px 55px 25px 120px;
    border-top-left-radius: 15px;

    position: relative;
}

.episode-video {
    position: absolute;
    right: 74%;
    top: 8px;
}

.episode-video .thumbnail{
    width: 130px;
}

.episode-video .play {
    width: 35px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.details strong {
    font-size: 20px;
}

.details small {
    color: #585858;
}